@model Application.DTOs.UsuarioDTO

@{
    ViewData["Title"] = "Perfil Completo";
}

<body>
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="container">
                <h2>Usuário <b>@Model.Nome</b></h2>
                <h6>Email Principal:</h6> <h6><b>@Model.Email</b></h6>
                <hr />
                <dl>
                    <dt><h5>Emails :</h5></dt>

                    <dd>@Model.Emails</dd>
                    @*@foreach (var item in Model.Emails.ToList())
                        {
                            <dd>@item.Endereco</dd>
                        }*@
                </dl>
                <hr />
                <a href="~/home/Index" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </div>
</body>


